
header {
  position: fixed;
  top: 0;
  background:  #f8f9fa;
  width: 1400px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 1;
}

header ul {
  margin: 3px 0 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007bff;
    list-style-type: none;
    align-items: center;
    line-height: 30px;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    color: white;
}
